/* .markdownEditor :global(.w-md-editor) ul {
  line-height: 1;
}

.markdownEditor :global(.w-md-editor-bar) svg {
  display: none;
}

.markdownEditor :global(.w-md-editor-bar) {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
} */
